In [1]:
import pandas as pd 
import numpy as np

In [2]:
#importation de fichiers csv
df_clts= pd.read_csv("DATA_P4/customers.csv")
df_pdts= pd.read_csv("DATA_P4/products.csv")
df_pdts= pd.read_csv("DATA_P4/transactions.csv")

In [3]:
# explorer les donnees clients 
df_clts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8623 entries, 0 to 8622
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  8623 non-null   object
 1   sex        8623 non-null   object
 2   birth      8623 non-null   int64
dtypes: int64(1), object(2)
memory usage: 202.2+ KB

In [5]:
df_clts.shape

(8623, 3)

In [4]:
df_clts.describe()

             birth
count  8623.000000
mean   1978.280877
std      16.919535
min    1929.000000
25%    1966.000000
50%    1979.000000
75%    1992.000000
max    2004.000000